/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .header_container {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .right_side_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .right_side_header div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.page-template-homepage {
  padding-top: 0px !important;
}

.scrolled_header {
  position: fixed;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0px 15px 42px -11px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 42px -11px rgba(0, 0, 0, 0.15);
}

.scrolled_header .header_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.first_screen .f_s_title {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  margin-top: 170px;
  margin-bottom: 16px;
  position: relative;
}

.first_screen .f_s_title:before {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  position: absolute;
  top: 60%;
  right: calc(100% + 15px);
}

.first_screen .f_s_subtitle {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin-bottom: 40px;
}

.first_screen .title_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 64px;
  max-width: 260px;
}

.first_screen .look_catalog {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #444240;
  padding: 26px 38px;
  text-decoration: none;
}

.first_screen .main_screen_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 750px;
}

.first_screen .main_screen_product:after {
  content: '';
  width: 500px;
  height: 100%;
  background-image: url("../img/main_screen_ellipse.png");
  position: absolute;
  z-index: -1;
  left: -120px;
  bottom: 30px;
}

.first_screen .main_screen_product .watch_img {
  position: absolute;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
}

.first_screen .main_screen_product .price,
.first_screen .main_screen_product .size {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first_screen .main_screen_product .price img,
.first_screen .main_screen_product .size img {
  display: inline-block;
  height: 12px;
  margin-left: 3px;
}

.first_screen .main_screen_product .price p,
.first_screen .main_screen_product .size p {
  display: inline-block;
  font-family: 'Prata', serif;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.first_screen .main_screen_product .price:after,
.first_screen .main_screen_product .size:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
}

.first_screen .main_screen_product .price {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: auto;
  margin-left: -80px;
  margin-top: 138px;
}

.first_screen .main_screen_product .price span {
  font-size: 14px;
}

.first_screen .main_screen_product .price:after {
  left: calc(100% + 15px);
}

.first_screen .main_screen_product .size {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
  margin-bottom: 116px;
}

.first_screen .main_screen_product .size:after {
  right: calc(100% + 15px);
}
/*# sourceMappingURL=main_style.css.map */